In [1]:
import pandas as pd

df = pd.read_csv("UserGamesPlayed.csv", parse_dates=["Datetime"], infer_datetime_format=False)

C:\Users\Ghostdog17\AppData\Local\Temp\ipykernel_4060\1305773829.py:3: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv("UserGamesPlayed.csv", parse_dates=["Datetime"], infer_datetime_format=False)

In [2]:
print(df)

        User ID  Games Played          Datetime
0           851             1   01-10-2022 0:00
1           717             1   01-10-2022 0:00
2           456             1   01-10-2022 0:00
3           424             1   01-10-2022 0:00
4           845             1   01-10-2022 0:00
...         ...           ...               ...
355261      658             1  31-10-2022 23:59
355262      582             1  31-10-2022 23:59
355263      272             1  31-10-2022 23:59
355264      563             1  31-10-2022 23:59
355265      289             1  31-10-2022 23:59

[355266 rows x 3 columns]

In [3]:
df["Datetime"] = pd.to_datetime(df["Datetime"], format="%d-%m-%Y %H:%M")

In [4]:
print(df)

        User ID  Games Played            Datetime
0           851             1 2022-10-01 00:00:00
1           717             1 2022-10-01 00:00:00
2           456             1 2022-10-01 00:00:00
3           424             1 2022-10-01 00:00:00
4           845             1 2022-10-01 00:00:00
...         ...           ...                 ...
355261      658             1 2022-10-31 23:59:00
355262      582             1 2022-10-31 23:59:00
355263      272             1 2022-10-31 23:59:00
355264      563             1 2022-10-31 23:59:00
355265      289             1 2022-10-31 23:59:00

[355266 rows x 3 columns]

In [5]:
#function to categorize into S1/S2 based on hour
def categorize_time_slot(row):
  hour = row["Datetime"].hour
  if hour >= 0 and hour < 12:
    return "S1"
  else:
    return "S2"

# new column 'Time Slot' for S1/S2 categorization
df["Time Slot"] = df.apply(categorize_time_slot, axis=1)
df.rename(columns={"User ID": "User Id"}, inplace=True)

# Filter data for S1 and S2 slots
s1_df_ = df[df["Time Slot"] == "S1"]
s2_df_ = df[df["Time Slot"] == "S2"]

In [6]:
#Calculating number of gamesplayed by each user 

user_totalGames_df = df.groupby("User Id")["Games Played"].sum()

user_totalGames = user_totalGames_df.to_frame('Games Played')

print(user_totalGames.head(10))

         Games Played
User Id
0                  15
1                   8
2                  97
3                  80
4                   5
5                 391
6                  67
7                  61
8                 497
9                3416

In [7]:
print(user_totalGames.columns)

Index(['Games Played'], dtype='object')

In [8]:
df_deposit = pd.read_csv("Deposit.csv")

In [9]:
print(df_deposit)

       User Id          Datetime  Amount
0          357   01-10-2022 0:03    2000
1          776   01-10-2022 0:03    2500
2          492   01-10-2022 0:06    5000
3          803   01-10-2022 0:07    5000
4          875   01-10-2022 0:09    1500
...        ...               ...     ...
17433      654  31-10-2022 23:57    1200
17434      980  31-10-2022 23:58     200
17435        2  31-10-2022 23:58   40000
17436      612  31-10-2022 23:58    2800
17437      786  31-10-2022 23:59   20000

[17438 rows x 3 columns]

In [10]:
df_deposit["Datetime"] = pd.to_datetime(df_deposit["Datetime"], format="%d-%m-%Y %H:%M")

In [11]:
print(df_deposit["Datetime"])

0       2022-10-01 00:03:00
1       2022-10-01 00:03:00
2       2022-10-01 00:06:00
3       2022-10-01 00:07:00
4       2022-10-01 00:09:00
                ...
17433   2022-10-31 23:57:00
17434   2022-10-31 23:58:00
17435   2022-10-31 23:58:00
17436   2022-10-31 23:58:00
17437   2022-10-31 23:59:00
Name: Datetime, Length: 17438, dtype: datetime64[ns]

In [12]:
def categorize_time_slot(row):
    hour = row["Datetime"].hour
    if hour >= 0 and hour < 12:
        return "S1"
    else:
        return "S2"


df_deposit["Time Slot"] = df_deposit.apply(categorize_time_slot, axis=1)


user_ids = range(0, 1000)  

s1_df_deposit = df_deposit[df_deposit["Time Slot"] == "S1"]
s2_df_deposit = df_deposit[df_deposit["Time Slot"] == "S2"]

In [13]:
#Calculating total amount and count of deposits by each user 

user_totaldeposit_df = (
    df_deposit.groupby("User Id")
    .agg(count=("Amount", "size"), sum=("Amount", "sum"))
    .reset_index()
)


user_ids = set(range(0, 1000))  


unique_user_ids = set(user_totaldeposit_df["User Id"]).union(user_ids)


user_totaldeposit = (
    user_totaldeposit_df.set_index("User Id")
    .reindex(unique_user_ids, fill_value=0)
    .rename(columns={"count": "depositCount", "sum": "depositAmount"})
)

print(user_totaldeposit)

         depositCount  depositAmount
User Id
0                   0              0
1                   1           5000
2                  20         567000
3                   4          40000
4                   1           1750
...               ...            ...
995                 5          34500
996                31          96400
997                 0              0
998                 5           7400
999                 3           9000

[1000 rows x 2 columns]

In [14]:
df_withdraw = pd.read_csv("Withdraw.csv")

In [15]:
print(df_withdraw)

      User Id          Datetime  Amount
0         190   01-10-2022 0:03    5872
1         159   01-10-2022 0:16    9540
2         164   01-10-2022 0:24     815
3         946   01-10-2022 0:29   23000
4         763   01-10-2022 0:40    9473
...       ...               ...     ...
3561      559  31-10-2022 23:27    5000
3562      407  31-10-2022 23:51    3000
3563      389  31-10-2022 23:56   14481
3564       11  31-10-2022 23:57    4000
3565      112  31-10-2022 23:58    1604

[3566 rows x 3 columns]

In [16]:
df_withdraw["Datetime"] = pd.to_datetime(df_withdraw["Datetime"], format="%d-%m-%Y %H:%M")

In [17]:
print(df_withdraw)

      User Id            Datetime  Amount
0         190 2022-10-01 00:03:00    5872
1         159 2022-10-01 00:16:00    9540
2         164 2022-10-01 00:24:00     815
3         946 2022-10-01 00:29:00   23000
4         763 2022-10-01 00:40:00    9473
...       ...                 ...     ...
3561      559 2022-10-31 23:27:00    5000
3562      407 2022-10-31 23:51:00    3000
3563      389 2022-10-31 23:56:00   14481
3564       11 2022-10-31 23:57:00    4000
3565      112 2022-10-31 23:58:00    1604

[3566 rows x 3 columns]

In [18]:
def categorize_time_slot(row):
    hour = row["Datetime"].hour
    if hour >= 0 and hour < 12:
        return "S1"
    else:
        return "S2"


df_withdraw["Time Slot"] = df_withdraw.apply(categorize_time_slot, axis=1)

user_ids = range(0, 1000)  

s1_df_withdraw = df_withdraw[df_withdraw["Time Slot"] == "S1"]
s2_df_withdraw = df_withdraw[df_withdraw["Time Slot"] == "S2"]

In [19]:
#Calculating total withdraw amount and count of withdraw by each user 

user_totalwithdraw_df = (
    df_withdraw.groupby("User Id")
    .agg(count=("Amount", "size"), sum=("Amount", "sum"))
    .reset_index()
)

user_ids = set(range(0, 1000))  # Convert user_ids to a set

unique_user_ids = set(user_totalwithdraw_df["User Id"]).union(user_ids)

print(
    user_totalwithdraw_df.set_index("User Id")
    .reindex(unique_user_ids, fill_value=0)
    .rename(
        columns={"count": "withdrawalCount", "sum": "withdrawalAmount"}
    )
)

         withdrawalCount  withdrawalAmount
User Id
0                      0                 0
1                      0                 0
2                     20           1270215
3                      0                 0
4                      0                 0
...                  ...               ...
995                    0                 0
996                    0                 0
997                    0                 0
998                    0                 0
999                    0                 0

[1000 rows x 2 columns]

In [20]:
print(user_totalwithdraw_df)

     User Id  count      sum
0          2     20  1270215
1          5      9    32700
2          7      1     6617
3          9      9   171456
4         11     24   101500
..       ...    ...      ...
509      980     36    87900
510      985     19   155000
511      987     23   135650
512      989     20  1339000
513      992     11   616278

[514 rows x 3 columns]

In [21]:
#Calculating number of gamesplayed by each user on each date

s1_gamesPlayed_df = (
    s1_df_.groupby(["User Id", s1_df_["Datetime"].dt.date])["Games Played"].sum()
    .unstack(fill_value=0)  
    .reindex(user_ids, fill_value=0)  
)

s2_gamesPlayed_df = (
    s2_df_.groupby(["User Id", s2_df_["Datetime"].dt.date])["Games Played"].sum()
    .unstack(fill_value=0)  
    .reindex(user_ids, fill_value=0)  
)


print(f"\n** Category: S1 **")
print(s1_gamesPlayed_df)

print(f"\n** Category: S2 **")
print(s2_gamesPlayed_df)

** Category: S1 **
Datetime  2022-10-01  2022-10-02  2022-10-03  2022-10-04  2022-10-05  \
User Id
0                  0           0           0           0           0
1                  1           0           0           0           0
2                  2           2           2           1           1
3                  0           0           3           2           0
4                  0           0           0           0           0
...              ...         ...         ...         ...         ...
995                2           0           0           0           0
996                6          11           5           7          10
997                2           5           1           2           1
998                0           0           0           0           0
999                2           3           3           2           4

Datetime  2022-10-06  2022-10-07  2022-10-08  2022-10-09  2022-10-10  ...  \
User Id                                                               ...
0                  1           0           0           0           1  ...
1                  0           1           0           0           0  ...
2                  1           2           1           1           1  ...
3                  2           1           1           0           2  ...
4                  0           0           0           0           0  ...
...              ...         ...         ...         ...         ...  ...
995                1           0           0           0           0  ...
996                9           7           8           3           7  ...
997                2           3           1           0           0  ...
998                0           0           0           1           0  ...
999                3           1           0           0           3  ...

Datetime  2022-10-22  2022-10-23  2022-10-24  2022-10-25  2022-10-26  \
User Id
0                  1           1           0           0           1
1                  0           0           0           0           0
2                  1           4           2           3           1
3                  1           2           0           2           3
4                  0           1           1           0           0
...              ...         ...         ...         ...         ...
995                0           0           0           0           1
996               12           6           8           9           5
997                3           1           4           2           4
998                0           0           0           0           0
999                2           1           2           0           3

Datetime  2022-10-27  2022-10-28  2022-10-29  2022-10-30  2022-10-31
User Id
0                  0           1           1           0           0
1                  1           0           0           0           0
2                  1           2           0           0           1
3                  1           1           4           0           1
4                  0           0           1           0           0
...              ...         ...         ...         ...         ...
995                0           0           0           1           0
996                9           5           8           6          18
997                2           0           2           1           1
998                0           0           0           0           0
999                5           1           2           4           6

[1000 rows x 31 columns]

** Category: S2 **
Datetime  2022-10-01  2022-10-02  2022-10-03  2022-10-04  2022-10-05  \
User Id
0                  0           0           0           1           1
1                  0           0           0           0           0
2                  1           4           0           1           2
3                  0           1           0           3           2
4                  0           0           0           0           0
...              ...         ...         ...         ...         ...
995                0           0           0           1           1
996                7          13           7          12           5
997                2           2           3           1           3
998                0           0           0           0           0
999                2           3           7           3           2

Datetime  2022-10-06  2022-10-07  2022-10-08  2022-10-09  2022-10-10  ...  \
User Id                                                               ...
0                  0           0           0           0           1  ...
1                  0           0           0           0           0  ...
2                  1           1           1           1           2  ...
3                  2           3           2           2           0  ...
4                  0           0           0           0           0  ...
...              ...         ...         ...         ...         ...  ...
995                0           0           0           1           0  ...
996                5           5           7           9          11  ...
997                1           2           3           0           2  ...
998                0           0           0           0           0  ...
999                1           5           5           2           3  ...

Datetime  2022-10-22  2022-10-23  2022-10-24  2022-10-25  2022-10-26  \
User Id
0                  0           0           0           0           0
1                  0           0           0           0           0
2                  3           3           3           1           0
3                  0           2           1           1           0
4                  0           0           0           1           0
...              ...         ...         ...         ...         ...
995                1           2           0           0           1
996                8           6          10           2           4
997                3           2           1           0           2
998                0           0           0           0           0
999                2           0           3           4           1

Datetime  2022-10-27  2022-10-28  2022-10-29  2022-10-30  2022-10-31
User Id
0                  0           0           0           0           0
1                  0           0           0           0           1
2                  3           0           0           1           2
3                  1           1           0           0           1
4                  0           0           0           0           0
...              ...         ...         ...         ...         ...
995                0           1           0           1           0
996               10          13           2           6           6
997                1           2           0           0           0
998                0           0           0           0           0
999                5           2           2           2           4

[1000 rows x 31 columns]

In [22]:
#Calculating Loyalty Bonus for specified dates and time slots

time_slots = {
  "2nd October Slot S1": pd.to_datetime("2022-10-02").date(),
  "16th October Slot S2": pd.to_datetime("2022-10-16").date(),
  "18th October Slot S1": pd.to_datetime("2022-10-18").date(),
  "26th October Slot S2": pd.to_datetime("2022-10-26").date(),
}

slot_category = {
  "2nd October Slot S1": "S1",
  "16th October Slot S2": "S2",
  "18th October Slot S1": "S1",
  "26th October Slot S2": "S2",
}

for time_slot_name, time_slot_date, category in zip(time_slots, time_slots.values(), slot_category.values()):
    print(f"\n** {time_slot_name} **")
    print(time_slot_date)
    
    all_possible_user_ids = set(range(0, 1000))
    
    if category == "S1":
        filtered_df_ = s1_df_[s1_df_["Datetime"].dt.date == time_slot_date]
        filtered_df_deposit = s1_df_deposit[s1_df_deposit["Datetime"].dt.date == time_slot_date]
        filtered_df_withdraw = s1_df_withdraw[s1_df_withdraw["Datetime"].dt.date == time_slot_date]
    else:
        filtered_df_ = s2_df_[s2_df_["Datetime"].dt.date == time_slot_date]
        filtered_df_deposit = s2_df_deposit[s2_df_deposit["Datetime"].dt.date == time_slot_date]
        filtered_df_withdraw = s2_df_withdraw[s2_df_withdraw["Datetime"].dt.date == time_slot_date]

    
    existing_user_ids = set(filtered_df_["User Id"].unique())
    missing_user_ids = all_possible_user_ids - existing_user_ids
    
    user_loyalty_points = pd.DataFrame(index=list(all_possible_user_ids), columns=["Loyalty Points"], data=0)

    # Calculating loyalty points for each user:
    for user_id in all_possible_user_ids:
           
        if category == "S1":
            deposit_amount = s1_df_deposit[
                (s1_df_deposit["User Id"] == user_id) & (s1_df_deposit["Datetime"].dt.date == time_slot_date)
            ]["Amount"].sum()
            withdrawal_amount = s1_df_withdraw[
                (s1_df_withdraw["User Id"] == user_id) & (s1_df_withdraw["Datetime"].dt.date == time_slot_date)
            ]["Amount"].sum()
        else:
            deposit_amount = s2_df_deposit[
                (s2_df_deposit["User Id"] == user_id) & (s2_df_deposit["Datetime"].dt.date == time_slot_date)
            ]["Amount"].sum()
            withdrawal_amount = s2_df_withdraw[
                (s2_df_withdraw["User Id"] == user_id) & (s2_df_withdraw["Datetime"].dt.date == time_slot_date)
            ]["Amount"].sum()
        
        deposit_count = len(filtered_df_deposit[filtered_df_deposit["User Id"] == user_id])  
        withdrawal_count = len(filtered_df_withdraw[filtered_df_withdraw["User Id"] == user_id])                   
        
        positive_diff = max(deposit_count - withdrawal_count, 0)
        
        games_played = (
            s1_gamesPlayed_df.loc[user_id, time_slot_date]
            if category == "S1" else s2_gamesPlayed_df.loc[user_id, time_slot_date]
        )
        
        loyalty_points = (
            0.01 * deposit_amount
            + 0.005 * withdrawal_amount
            + 0.001 * positive_diff
            + 0.2 * games_played
        )
        
        user_loyalty_points.loc[user_id, "Loyalty Points"] = loyalty_points
    
    print(user_loyalty_points)

** 2nd October Slot S1 **
2022-10-02

C:\Users\Ghostdog17\AppData\Local\Temp\ipykernel_4060\35737964.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  user_loyalty_points.loc[user_id, "Loyalty Points"] = loyalty_points

     Loyalty Points
0               0.0
1               0.0
2               0.4
3               0.0
4               0.0
..              ...
995             0.0
996             2.2
997             1.0
998             0.0
999             0.6

[1000 rows x 1 columns]

** 16th October Slot S2 **
2022-10-16

C:\Users\Ghostdog17\AppData\Local\Temp\ipykernel_4060\35737964.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  user_loyalty_points.loc[user_id, "Loyalty Points"] = loyalty_points

     Loyalty Points
0               0.0
1               0.0
2               0.4
3               0.0
4               0.0
..              ...
995             0.0
996             1.8
997             0.0
998             0.0
999             0.2

[1000 rows x 1 columns]

** 18th October Slot S1 **
2022-10-18

C:\Users\Ghostdog17\AppData\Local\Temp\ipykernel_4060\35737964.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  user_loyalty_points.loc[user_id, "Loyalty Points"] = loyalty_points

     Loyalty Points
0             0.000
1             0.000
2             0.400
3             0.400
4             0.000
..              ...
995           0.000
996           9.001
997           0.200
998           0.000
999           0.400

[1000 rows x 1 columns]

** 26th October Slot S2 **
2022-10-26

C:\Users\Ghostdog17\AppData\Local\Temp\ipykernel_4060\35737964.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '900.002' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  user_loyalty_points.loc[user_id, "Loyalty Points"] = loyalty_points

     Loyalty Points
0             0.000
1             0.000
2           900.002
3             0.000
4             0.000
..              ...
995           0.200
996           0.800
997           0.400
998           0.000
999           0.200

[1000 rows x 1 columns]

In [23]:
# Calculating Loyalty Points for the entrie month

deposit_factor = 0.01
withdrawal_factor = 0.005
games_played_factor = 0.2
positive_diff_factor = 0.001  

user_data = user_totalGames.merge(user_totaldeposit, on="User Id", how="left")
user_data = user_data.merge(user_totalwithdraw_df, on="User Id", how="left")

user_data.fillna(0, inplace=True)

print(user_data.head(10))

   User Id  Games Played  depositCount  depositAmount  count        sum
0        0            15             0              0    0.0        0.0
1        1             8             1           5000    0.0        0.0
2        2            97            20         567000   20.0  1270215.0
3        3            80             4          40000    0.0        0.0
4        4             5             1           1750    0.0        0.0
5        5           391            67          74100    9.0    32700.0
6        6            67             7           9300    0.0        0.0
7        7            61             0              0    1.0     6617.0
8        8           497             0              0    0.0        0.0
9        9          3416           109         193684    9.0   171456.0

In [24]:
user_data["positiveDiff"] = user_data["depositCount"] - user_data["count"]
user_data["positiveDiff"] = user_data["positiveDiff"].apply(lambda x: max(x, 0))  

# Calculating overall loyalty points
user_data["loyaltyPoints"] = (
    user_data["depositAmount"] * deposit_factor
    + user_data["sum"] * withdrawal_factor
    + user_data["Games Played"] * games_played_factor
    + user_data["positiveDiff"] * positive_diff_factor
)

print(user_data)

     User Id  Games Played  depositCount  depositAmount  count        sum  \
0          0            15             0              0    0.0        0.0
1          1             8             1           5000    0.0        0.0
2          2            97            20         567000   20.0  1270215.0
3          3            80             4          40000    0.0        0.0
4          4             5             1           1750    0.0        0.0
..       ...           ...           ...            ...    ...        ...
995      995            18             5          34500    0.0        0.0
996      996           474            31          96400    0.0        0.0
997      997           109             0              0    0.0        0.0
998      998             4             5           7400    0.0        0.0
999      999           174             3           9000    0.0        0.0

     positiveDiff  loyaltyPoints
0             0.0          3.000
1             1.0         51.601
2             0.0      12040.475
3             4.0        416.004
4             1.0         18.501
..            ...            ...
995           5.0        348.605
996          31.0       1058.831
997           0.0         21.800
998           5.0         74.805
999           3.0        124.803

[1000 rows x 8 columns]

In [25]:
# Sorting user_data by loyalty points (descending) and breaking ties using games played (ascending)

sorted_user_data = user_data.sort_values(by=["loyaltyPoints", "Games Played"], ascending=[False, True])

print(sorted_user_data)

     User Id  Games Played  depositCount  depositAmount  count         sum  \
634      634            24             8         515000   67.0  15737705.0
99        99            10            47        1164800   15.0   2403141.0
672      672            10            35        2158700    5.0    233750.0
212      212             1            26        1924981    4.0    589850.0
740      740             2            91        1738490    7.0    365288.0
..       ...           ...           ...            ...    ...         ...
643      643             2             0              0    0.0         0.0
857      857             2             0              0    0.0         0.0
858      858             2             0              0    0.0         0.0
993      993             2             0              0    0.0         0.0
38        38             1             0              0    0.0         0.0

     positiveDiff  loyaltyPoints
634           0.0      83843.325
99           32.0      23665.737
672          30.0      22757.780
212          22.0      22199.282
740          84.0      19211.824
..            ...            ...
643           0.0          0.400
857           0.0          0.400
858           0.0          0.400
993           0.0          0.400
38            0.0          0.200

[1000 rows x 8 columns]

In [26]:
#Mean Deposit Amount

meanDepositAmount = user_data["depositAmount"].mean()

In [27]:
print(meanDepositAmount)

95772.729

In [28]:
#Average number of games played per user

divisor = 31

user_avgGames = user_totalGames.assign(Average_Number_Of_Games_Played=user_totalGames["Games Played"] / divisor)

print(user_avgGames)

         Games Played  Average_Number_Of_Games_Played
User Id
0                  15                        0.483871
1                   8                        0.258065
2                  97                        3.129032
3                  80                        2.580645
4                   5                        0.161290
...               ...                             ...
995                18                        0.580645
996               474                       15.290323
997               109                        3.516129
998                 4                        0.129032
999               174                        5.612903

[1000 rows x 2 columns]

In [29]:
#Average deposit amount per user

user_avgDeposit = user_totaldeposit.assign(Average_Deposit_Amount=user_totaldeposit["depositAmount"] / divisor)

print(user_avgDeposit)

         depositCount  depositAmount  Average_Deposit_Amount
User Id
0                   0              0                0.000000
1                   1           5000              161.290323
2                  20         567000            18290.322581
3                   4          40000             1290.322581
4                   1           1750               56.451613
...               ...            ...                     ...
995                 5          34500             1112.903226
996                31          96400             3109.677419
997                 0              0                0.000000
998                 5           7400              238.709677
999                 3           9000              290.322581

[1000 rows x 3 columns]

In [30]:
#top 50 players on loyalty points leaderboard

print(sorted_user_data.head(50))

     User Id  Games Played  depositCount  depositAmount  count         sum  \
634      634            24             8         515000   67.0  15737705.0
99        99            10            47        1164800   15.0   2403141.0
672      672            10            35        2158700    5.0    233750.0
212      212             1            26        1924981    4.0    589850.0
740      740             2            91        1738490    7.0    365288.0
566      566           183            53        1819175    3.0    185071.0
714      714             6            34        1676300    0.0         0.0
421      421          1557            99         878600   84.0   1269809.0
369      369            37            13         650000    9.0   1586208.0
30        30            13            51        1329000    1.0    152145.0
587      587           734            89         671700    8.0   1355000.0
222      222            10            16        1285000    3.0     99358.0
352      352           313           128        1083034    8.0    429518.0
365      365          3667            10         311000   33.0   1802335.0
920      920           932            41         367700   52.0   1734480.0
162      162             2             7          68320   23.0   2360000.0
415      415            26             6         350000    6.0   1759843.0
569      569            38            23        1227780    0.0         0.0
786      786             7            27         661500   11.0   1096160.0
2          2            97            20         567000   20.0   1270215.0
238      238           899            45         923400    7.0    445000.0
992      992          2483            18         804978   11.0    616278.0
28        28            37            49        1061500    0.0         0.0
538      538            29            27        1025000    1.0      8558.0
208      208           507            35         644934    9.0    657928.0
989      989          3471            12         240000   20.0   1339000.0
978      978            74            69         794358   14.0    288114.0
915      915             8            84         780028    7.0    307609.0
678      678            12            22         379000    1.0   1100000.0
78        78           602            32         159000   47.0   1484900.0
909      909             1           125         679745    5.0    454060.0
182      182          2446            16         795000    4.0     80339.0
93        93           487            76         616000   24.0    511474.0
200      200             4             8         539998    5.0    593000.0
259      259           126           115         824020    0.0         0.0
306      306             4            57         826000    0.0         0.0
344      344             3            18         311900   10.0   1024000.0
601      601            33            23         692144    1.0    240000.0
515      515           413            14         580000    6.0    400000.0
294      294             5            41         607700    3.0    311187.0
681      681             8            65         689000    1.0    132000.0
950      950             4            99         732000    4.0     35500.0
675      675           639            50         662500    1.0     70000.0
663      663          6401            52         425000   35.0    290200.0
438      438             1             2         400000    1.0    594851.0
619      619             2            13         697000    0.0         0.0
245      245             3            25         209450   10.0    912200.0
547      547          1248            41         493200   14.0    245863.0
612      612          1543            53         554800    8.0    109081.0
949      949             1            64         409100    7.0    434171.0

     positiveDiff  loyaltyPoints
634           0.0      83843.325
99           32.0      23665.737
672          30.0      22757.780
212          22.0      22199.282
740          84.0      19211.824
566          50.0      19153.755
714          34.0      16764.234
421          15.0      15446.460
369           4.0      14438.444
30           50.0      14053.375
587          81.0      13638.881
222          13.0      13348.803
352         120.0      13040.650
365           0.0      12855.075
920           0.0      12535.800
162           0.0      12483.600
415           0.0      12304.415
569          23.0      12285.423
786          16.0      12097.216
2             0.0      12040.475
238          38.0      11638.838
992           7.0      11627.777
28           49.0      10622.449
538          26.0      10298.616
208          26.0       9840.406
989           0.0       9789.200
978          55.0       9399.005
915          77.0       9340.002
678          21.0       9292.421
78            0.0       9134.900
909         120.0       9068.070
182          12.0       8840.907
93           52.0       8814.822
200           3.0       8365.783
259         115.0       8265.515
306          57.0       8260.857
344           8.0       8239.608
601          22.0       8128.062
515           8.0       7882.608
294          38.0       7633.973
681          64.0       7551.664
950          95.0       7498.395
675          49.0       7102.849
663          17.0       6981.217
438           1.0       6974.456
619          13.0       6970.413
245          15.0       6656.115
547          27.0       6410.942
612          45.0       6402.050
949          57.0       6262.112